blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
fonttools
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
kiwisolver
llvmlite
MarkupSafe
matplotlib
mpmath
networkx
numba
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scipy
six
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug